{% extends 'mentor_module/mentor_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/edit_motivational_content_post/{{ id }}">
    {% csrf_token %}
  <table width="400">
    <tr>
{#      <th width="166" scope="row">Title</th>#}
      <td width="218"><label for="textfield"></label>
      <input type="text" class=form-control placeholder="Title" name="textfield" id="textfield" value="{{ data.title }}" /></td>
    </tr>
    <tr>
{#      <th scope="row">Content</th>#}
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" class=form-control placeholder="Content" cols="45" rows="5">{{ data.content }}</textarea></td>
    </tr>
    <tr>
      <th colspan="2" class="py-3"><div align="center"><input type="submit" name="button" id="button" class="btn btn-dark py-2 px-3 " value="Edit" /></div></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
