<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table width="200" border="1">
  <tr>
    <td><a href="/view_profile_edit_profile">View and edit Profile</a></td>
  </tr>
  <tr>
    <td><a href="/change_mentor_password">Change Password</a></td>
  </tr>
  <tr>
    <td><a href="/view_request_approve_reject">View request and approve reject</a></td>
  </tr>
  <tr>
    <td><a href="/view_approved_request">View approved request</a></td>
  </tr>
  <tr>
    <td><a href="/add_tips">Add Tips</a></td>
  </tr>
  <tr>
    <td><a href="/view_tips">View Tips</a></td>
  </tr>
  <tr>
    <td><a href="/add_motivational_content">Add Motivational Content</a></td>
  </tr>
  <tr>
    <td><a href="/view_motivational_content">View Motivational Content</a></td>
  </tr>
  <tr>
    <td><a href="/view_review">View Review</a></td>
  </tr>
</table>
</form>
</body>
</html>
