{% extends 'mentor_module/mentor_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table class="table text-white">
  <tr>
    <th width="27" scope="col">#</th>
    <th width="46" scope="col">Date</th>
    <th width="117" scope="col">Username</th>
    <th width="114" scope="col">Gender</th>
    <th width="84" scope="col">Email</th>
    <th width="159" scope="col">&nbsp;</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.date}}</td>
    <td>{{ i.USER.name }}</td>
    <td>{{i.USER.gender}}</td>
    <td>{{i.USER.email }}</td>
    <td><p><a href="/request_approve/{{ i.id }}" onclick="return confirm('Are you sure?')" class="btn btn-success">approve</a></p>
      <p><a href="/request_reject/{{i.id}}" onclick="return confirm('Are you sure?')" class="btn btn-danger">reject</a></p></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}